%h1 Listing disciplines

%table
  %tr
    %th Name
    %th Subject
    %th Subject short
    %th
    %th
    %th

  - @disciplines.each do |discipline|
    %tr
      %td= discipline.name
      %td= discipline.subject
      %td= discipline.subject_short
      %td= link_to 'Show', discipline
      %td= link_to 'Edit', edit_discipline_path(discipline)
      %td= link_to 'Destroy', discipline, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_discipline_path
