%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Subject:
  = @group.subject
%p
  %b Subject short:
  = @group.subject_short

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
