%h1 Listing departments

%table
  %tr
    %th Number
    %th Name
    %th Zav kaf
    %th Secretary
    %th Director
    %th
    %th
    %th

  - @departments.each do |department|
    %tr
      %td= department.number
      %td= department.name
      %td= department.zav_kaf
      %td= department.secretary
      %td= department.director
      %td= link_to 'Show', department
      %td= link_to 'Edit', edit_department_path(department)
      %td= link_to 'Destroy', department, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Department', new_department_path
